@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inconsolata:wdth,wght@95.9,558&display=swap');

.font-playfair {
      font-family: "Playfair Display", serif;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.great-vibes-fine {
  font-family: "Great Vibes", cursive;
  font-weight: 200;
  font-style: normal;
}